* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: white;
}

.line-height-none {
  line-height: 1 !important;
}

.line-height-normal {
  line-height: 1.25 !important;
}

.overflow-visible {
  overflow: visible;
}